.help-popup {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.help-popup-content {
    position: relative;
    padding: 20px;
    padding-top: 30px;
}

.help-close-button {
    position: absolute;
    top: 2px;
    right: 2px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 1;
}

.help-popup input,
.help-popup textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.help-popup button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}